*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
  }
  
  body{
    background: #353b48;
    transition: 0.6s linear;
  }
  
  .product-card{
    width: 800px;
    background: #a4b0be;
    padding: 150px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
  }
  .product-card h1{
    font-size: 22px;
    margin-bottom: 4px;
  }
  
  .product-pic{
    background-image: url(azulTel.png);
    width: 100%;
    height: 280px;
    background-size: cover;
    background-position: center;
    transition: .6s linear;
  }
  .product-colors{
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
  }
  
  .product-colors span{
    width: 14px;
    height: 14px;
    margin: 20px 10px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
  }
  .azul{
    background: #3742fa;
  }
  .verde{
    background: #badc58;
  }
  .amarillo{
    background: #f9ca24;
  }
  .cafe{
    background: #e8d0c0;
  }
  .cyan{
    background: #55ffee;
  }
  
  .product-colors .active:after{
    content: "";
    width: 22px;
    height: 22px;
    border: 2px solid #8888;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    left: -4px;
    top: -4px;
  }
  .product-info{
    display: flex;
    align-items: center;
  }
  .product-price{
    color: #3742fa;
    font-size: 26px;
  }
  .product-button{
    margin-left: auto;
    color: #3742fa;
    text-decoration: none;
    border: 2px solid;
    padding: 8px 24px;
    border-radius: 20px;
    transition: .4s linear;
  }
  
  .product-button:hover{
    transform: scale(1.06);
  }
  