/* Estilos para el cuerpo del documento */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* 100% del viewport height */
  background-color: #000; /* Fondo negro */
  color: #fff; /* Texto blanco */
}


/* Estilos para la tarjeta */
.card {
  background-color: #333; /* Color de fondo de la tarjeta */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  width: 400px; /* Ancho de la tarjeta */
  margin: 0 auto; /* Centrar la tarjeta horizontalmente */
}

/* Estilos para el botón */
.button {
  padding: 10px 20px;
  background-color: #007bff; /* Azul */
  color: white;
  border: none;
  border-radius: 20px; /* Ovalado */
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave */
  margin-top: 20px; /* Espacio arriba del botón */
}

/* Estilos para el botón al pasar el mouse */
.button:hover {
  background-color: #0056b3; /* Azul más oscuro al pasar el mouse */
}

/* Estilos para el resultado */
.result {
  margin-top: 20px; /* Espacio arriba del resultado */
}