body {
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    font-family: Arial, sans-serif; /* Establece la fuente a Arial o sans-serif */
    background-color: #000; /* Establece el color de fondo a negro */
    display: flex; /* Utiliza flexbox para el diseño del cuerpo */
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    height: 100vh; /* Establece la altura al 100% de la ventana gráfica */
}

.screen-recorder {
    background-color: #000; /* Establece el color de fondo a negro */
    padding: 30px 260px; /* Añade relleno alrededor del contenido */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra sutil alrededor del contenedor */
    text-align: center; /* Centra el texto dentro del contenedor */
    max-width: 700px; /* Ancho máximo del contenedor */
    width: auto; /* Ancho automático según el contenido */
    max-height: 700px; /* Altura máxima del contenedor */
    height: auto; /* Altura automática según el contenido */
}

.video-player {
    width: 100%; /* Ancho completo del contenedor */
    max-height: 700px; /* Altura máxima del reproductor de video */
    border-radius: 10px; /* Bordes redondeados */
    margin-bottom: 20px; /* Margen inferior */
}

.controls {
    display: flex; /* Utiliza flexbox para el diseño de los botones de control */
    justify-content: center; /* Centra los botones horizontalmente */
    gap: 10px; /* Espacio entre los botones */
    margin-top: 20px; /* Margen superior */
}

.btn {
    padding: 10px 20px; /* Espaciado interno de los botones */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Muestra el cursor como una mano al pasar sobre el botón */
    font-size: 16px; /* Tamaño de fuente del texto del botón */
    transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}

.start-btn {
    background-color: #28a745; /* Color de fondo verde para el botón de inicio */
    color: #fff; /* Color del texto en blanco */
}

.start-btn:hover {
    background-color: #218838; /* Color de fondo verde oscuro al pasar el cursor */
}

.stop-btn {
    background-color: #dc3545; /* Color de fondo rojo para el botón de parada */
    color: #fff; /* Color del texto en blanco */
}

.stop-btn:hover {
    background-color: #c82333; /* Color de fondo rojo oscuro al pasar el cursor */
}

.status {
    font-size: 18px; /* Tamaño de fuente para el texto del estado */
    margin-top: 10px; /* Margen superior */
}

.recording {
    color: #dc3545; /* Color rojo para el estado de grabación */
}

.stopped {
    color: #dc3545; /* Color rojo para el estado detenido */
}
